<?xml version='1.0' encoding='utf-8'?>
<plugin id="notification-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NotificationPlugin</name>
    <js-module name="NotificationPlugin" src="www/NotificationPlugin.js">
        <clobbers target="NotificationPlugin" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="NotificationPlugin">
                <param name="ios-package" value="NotificationPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/NotificationPlugin.h" />
        <source-file src="src/ios/NotificationPlugin.m" />
    </platform>
</plugin>
